{% extends "master_layout.html" %}
{% block title %}
    Students
{% endblock %}

{% block subtitle %}
    <div class="navbar-brand">Student List</div>
{% endblock %}

{% block button %}
<li class="nav-item">
  <button type="button" class="btn btn-primary">
    <a href="/student/create" style="color: white;">Add Student</a></button>
</li>
{% endblock %}

{% block content %}
    <table class="table table-striped" style="width: 70%;margin: auto;">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Course</th>
                <th>Year</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student[0]}}</td>
                <td>{{student[1]}}</td>
                <td>{{student[2]}}</td>
                <td>{{student[3]}}</td>
                <td>{{student[4]}}</td>
                <td>{{student[5]}}</td>
                <td>{{student[6]}}</td>
                <td>
                    <a href="/student/edit/{{student[0]}}" class="btn btn-warning">Edit</a>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}