{% extends "master_layout.html" %}
{% block title %}
    Students
{% endblock %}

{% block subtitle %}
    <div class="navbar-brand">Student List</div>
{% endblock %}

{% block content %}
    <table class="table table-striped" style="width: 70%;margin: auto;">
        <thead>
            <tr>
                <th>ID #</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Course</th>
                <th>Year</th>
                <th>Gender</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>2019-2019</th>
                <th>Wo</th>
                <th>Shingshe</th>
                <th>Bs Computer Science</th>
                <th>4</th>
                <th>Male</th>
                <th><button type="button" class="btn btn-warning">Edit</button> <button type="button" class="btn btn-danger">Delete</button></th>
            </tr>
        </tbody>
    </table>
{% endblock %}