{% extends "master_layout.html" %}
{% block title %}
Create Course
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <form action="{{ url_for('course.create') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-3">{{ form.name.label }} {{ form.code(class_="form-control") }}</div>
    <div class="mb-3">{{ form.code.label }} {{ form.name(class_="form-control") }}</div>

    <div class="mb-3">
      <label for="college">College</label>
      <select id="college" name="college_id">
        {% for college in data %}
        <option value="{{ college[0] }}">{{ college[2] }}</option>
        {% endfor %}
      </select>
    </div>
    <button style="font-size: medium;" class="btn btn-outline-success">Submit</button>
  </form>
</div>
{% endblock %}
