{% extends "master_layout.html" %}
{% block title %}Create College{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <form action="{{ url_for('college.create') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-3">{{ form.code.label }} {{ form.code(class_="form-control") }}</div>
    <div class="mb-3">{{ form.name.label }} {{ form.name(class_="form-control") }}</div>
    <button style="font-size: medium;" class="btn btn-outline-success">Submit</button>
  </form>
</div>
{% endblock %}
