{%- extends "master_layout.html" %}
{% block title %}
    Edit College    
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center"> 
    <form action="/college/update/{{data[0]}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            <label for="code">CODE</label>
        <input class="form-control" type="text" name="code" value="{{data[2]}}">
        </div>
        
        <div class="mb-3">
            <label for="name">NAME</label>
            <input class="form-control" type="text" name="name" value="{{data[1]}}">
        </div>
        <button style="font-size: medium;" class="btn btn-outline-success">UPDATE</button>
    </form>
</div>
{% endblock %}