{% extends "master_layout.html" %}
{% block title %}
    Colleges
{% endblock %}

{% block subtitle %}
    <div class="navbar-brand">College List</div>
{% endblock %}

{% block content %}
    <table class="table table-striped" style="width: 70%;margin: auto;">
        <thead>
            <tr>
                <th>ID</th>
                <th>College Name</th>
                <th>College Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for college in colleges %}
                    <th>{{college[0]}}</th>
                    <th>{{college[1]}}</th>
                    <th>{{college[2]}}</th>
                    <th><button type="button" class="btn btn-warning">Edit</button> <button type="button" class="btn btn-danger">Delete</button></th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}